@CHARSET "UTF-8";
.section{
	
	border-top:1px solid #407815;
	border-bottom:1px solid #CCC;
	border-right:1px solid #CCC;
	border-left:1px solid #CCC;
	min-height:300px; 
	min-width: 600px;
	
}

.section_head{
	height: 40px;
	border-bottom: 1px solid #CCC;
	width: 100%;
}

.fault_part span , .section_head span{
	line-height: 40px;
	padding-left: 20px;
	font-size: 18px;
	color: #407815;
}

.section_head  a{
	margin-left: 80%;
	text-decoration: underline;
	letter-spacing: 2px;
}

 .fault_part{
	border-bottom: 1px solid #CCC;
	width: 100%;
 }
 
 /**故障分类*/
 .fault_catalog{
   height: 260px;
   width: 200px;
 }
 
.fault_catalog ul{
  list-style: none;
  margin-top: 20px;
  }
  
.fault_catalog ul li{
    padding-left: 20%;
    letter-spacing: 2px;
    padding-bottom: 20px;
    color:#48AC58;
   }
   
.fault_catalog p{
   padding-left: 20%;
   font-size:14px;
   letter-spacing: 2px;
   padding-top: 20px;
  }