.form fieldset {
	clear: both;
	padding: 1em 1.4em 1.4em 1.4em;
	margin: 0 0 30px .3em;
	background: rgb(238, 243, 248);
	border: 1px solid rgb(196, 211, 234);
	border-radius:5px;
}

.form legend {
	margin: 0 0;
	padding: 6px;
	
	font-size: 14px;
	background: white;
	
	text-transform: capitalize;
	color: rgb(51, 102, 0);
}

.form .field-group{
	
	margin: 5px;
	
}

.form .inline{
	
	display: inline-block;
	margin-left: 10px;
	
}

.field-group label{
	
	text-align:right;
	width:70px;
	display: inline-block;
	font-weight: 100;
	font-size: 13px;
	
}
.field-group input,
.field-group input[type='text']{
	
	margin-left: 8px;
	width:200px;
	color: rgb(102, 102, 102);
	
}

.field-group .input_err {
	border: 2px solid rgb(228, 76, 76);

}

.field-group input[type='text']:focus{
	
	border:2px solid #ef9e4d;
	
}

.field-group .error {
	display: inline-block;
	margin-top: 3px;
	margin-left: 5pxpx;
	font-size:12px;
	color: rgb(189, 69, 47);
}

.field-group .tips {
	font-size:12px;
	display: block;
	margin-top: 3px;
	margin-left: 85px;
	color: rgb(102, 102, 102);
	max-width: 300px;
	overflow: hidden;
}