.charts {

	height: 300px;
	margin-bottom: 30px;
	clear: both;
	width: 95%;
	margin:0 auto;
	margin-right:10px;
}

.title_menu {
	float: right;
	margin-right: 40px;
}

.title_menu a {
	margin-left: 5px;
	cursor: pointer;
	font-size: 18px;
}

.cpu_mode,.mem_mode,.io_mode,.disk_mode {
	border: 2px solid #ccc;
	border-radius: 5px;
	padding: 2px;
}

.active {
	background: #EEF7E6;
}

#clusterinfo{
	position: relative;
}

#clusterinfo .citem{
	
	float: left;
	width:40%;
	margin-top:5px;
	
}
#clusterinfo div{
	
	margin-top:5px;
	
}

#clusterinfo  label{
	
	font-weight: bold;
	
}