<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:jaxrs="http://cxf.apache.org/jaxrs"
	xmlns:context="http://www.springframework.org/schema/context"
	xmlns:util="http://www.springframework.org/schema/util"
	xsi:schemaLocation="
http://www.springframework.org/schema/beans 
http://www.springframework.org/schema/beans/spring-beans-3.0.xsd
http://www.springframework.org/schema/util http://www.springframework.org/schema/util/spring-util-3.0.xsd
http://www.springframework.org/schema/context http://www.springframework.org/schema/context/spring-context-3.0.xsd
http://cxf.apache.org/jaxrs
http://cxf.apache.org/schemas/jaxrs.xsd">

	<import resource="classpath:META-INF/cxf/cxf.xml" />
	
	<context:property-placeholder />
	<context:annotation-config />
	<bean class="org.springframework.web.context.support.ServletContextPropertyPlaceholderConfigurer" />
	<bean class="org.springframework.beans.factory.config.PreferencesPlaceholderConfigurer" />
	<bean id="ApplicationContentUtil" class="com.icp.monitor.commons.util.ApplicationContextUtil" />

	<jaxrs:server id="services" address="/">
		<jaxrs:serviceBeans>
			<bean class="com.icp.monitor.displayer.resources.impl.MemberResourcesImpl"></bean>
			<bean class="com.icp.monitor.displayer.resources.impl.ServerConfigResourcesImpl"></bean>
			<bean class="com.icp.monitor.displayer.resources.impl.MonitorThresholdResourcesImpl"></bean>
			<bean class="com.icp.monitor.displayer.resources.impl.UserResourceImpl"></bean>
			<bean class="com.icp.monitor.displayer.resources.impl.ThirdPartyResourcesImpl"></bean>
			<bean class="com.icp.monitor.displayer.resources.impl.LBStatusResourceImpl"></bean>
			<bean class="com.icp.monitor.displayer.resources.impl.LBStatusBackendResourceImpl"></bean>
			<bean class="com.icp.monitor.displayer.resources.impl.SmsResourcesImpl"></bean>
			<bean class="com.icp.monitor.displayer.resources.impl.ProductsResourcesImpl"></bean>
			<bean class="com.icp.monitor.displayer.resources.impl.BasicArtifactResourcesImpl"></bean>
			<bean class="com.icp.monitor.displayer.resources.impl.SmsConfigResourceImpl"></bean>
			<bean class="com.icp.monitor.displayer.resources.impl.SmsResourcesImpl"></bean>
			<bean class="com.icp.monitor.displayer.resources.impl.ClusterResourcesImpl"></bean>
			<bean class="com.icp.monitor.displayer.resources.impl.ConfigurationResourcesImpl"></bean>
			<bean class="com.icp.monitor.displayer.resources.impl.CombinationResourcesImpl"></bean>
			<bean class="com.icp.monitor.displayer.resources.impl.ExceptionResourcesImpl"></bean>
			<bean class="com.icp.monitor.displayer.resources.impl.MonitorLogResourcesImpl"></bean>
			<bean class="com.icp.monitor.displayer.resources.impl.AlertMemberResourcesImpl"></bean>
			<bean class="com.icp.monitor.displayer.resources.impl.AlertMessageResourcesImpl"></bean>
		
			
		</jaxrs:serviceBeans>

		<jaxrs:providers>
			<bean class="org.codehaus.jackson.jaxrs.JacksonJsonProvider" />
		</jaxrs:providers>
	</jaxrs:server>
	
	<import resource="beans-config.xml"></import>
	<import resource="beans-receiver.xml"></import>
	<import resource="beans-displayer.xml"></import>
	<import resource="beans-other.xml"></import>
	<import resource="beans-quartz-tenant.xml"></import>
	<!--  -->


	
</beans>
