body{
	margin-top: 40px;
	min-width: 1000px;
}
.head{
	background-color: #F4F8FA;
	height: 40px;
	border-bottom: 1px solid #e1e1e8;
	vertical-align:middle;
}

.side{
	
	margin-left: 0px;
	padding-left: 20px;
	background-color: #f7f7f9;
	border: 1px solid #e1e1e8;
	padding-bottom:20px;
	
}

.side li{
	
	line-height: 25px;
	
}

.side li.active{
	
	margin-right:-1px;
	line-height: 30px;
	
	
}

.side li.active a{
	
	font-weight: bolder;
	color:#999999;
	background-color: #fff;
	text-shadow:none;
	border-left: 2px solid #e1e1e8;
	border-top: 2px solid #e1e1e8;
	border-bottom: 2px solid #e1e1e8;
	
}

.side h3{
	
	
	text-shadow: 0 1px 0 rgba(255, 255, 255, 0.5);
	color: #999999;
	font-size: 16px;
}

.content .topbar{
	
	width: 100%;
	border-bottom: 1px solid #e1e1e8;
}

.content .topbar h2{
	
	line-height: 25px;
	text-shadow: 0 1px 0 rgba(255, 255, 255, 0.5);
	color: #999999;
	font-size: 16px;
	display: inline-block;
	
}


.cloud-fluid{
	
	padding-left: 0px;
	
}

 @media (max-width: 980px) {
   /* Enable use of floated navbar text */
   .navbar-text.pull-right {
     float: none;
     padding-left: 5px;
     padding-right: 5px;
   }
   
   body {
   	padding-top: 90px;
   }
   
 }


